artifactory_user: admin
artifactory_password: required_secret
awx_user: admin
awx_password: required_secret
jenkins_user: admin
jenkins_password: required_secret
argocd_user: admin
argocd_password: required_secret
keycloak_user: admin
keycloak_password: required_secret
harbor_user: admin
harbor_password: required_secret
rancher_user: admin
rancher_password: required_secret
mongodb_user: admin
mongodb_password: required_secret
calm_dsl_user: admin
calm_dsl_pass: required_secret
nutanix_key_user: nutanix
nutanix_user: nutanix
nutanix_password: nutanix/4u
prism_central_user: admin
prism_central_password: required_secret
prism_element_user: admin
prism_element_password: required_secret
windows_domain_user: administrator@ntnxlab.local
windows_domain_password: nutanix/4u
vsphere_username: administrator@vsphere.local
vsphere_password: required_secret
docker_hub_user: required_secret
docker_hub_password: required_secret
rancher_access_key: optional_secret
rancher_access_secret: optional_secret
azure_user: optional_secret
azure_tenant_id: optional_secret
azure_subscription_id: optional_secret
azure_client_id: optional_secret
azure_client_secret: optional_secret
aws_access_key_id: required_secret
aws_access_key_secret: required_secret
github_repo_url: https://github.com/jesse-gonzalez/cloud-native-calm.git
github_user: optional_secret
github_password: optional_secret
github_email: optional_secret
gitguardian_api_key: optional_secret
objects_access_key: required_secret
objects_secret_key: required_secret
cloudflare_api_token: optional_secret
ocp_pull_secret_json: optional_json
gcp_service_key_json: optional_json
nutanix_public_key: optional_secret
nutanix_key: |
  optional_secret
